
* {
box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  width: 100%;

}
header{
  width: 98%;
}
header div{
  margin-top: 17px;
    width: 253px;
    margin-left: 35px;
}
header div img{
  margin-left: 12px;
  margin-top: 10px;
}
header div h1{
  font-family: 'Lobster', cursive;
  position: relative;
  left: 60px;
  bottom: 46px;
  font-size: 24px;
    font-weight: bold;
}
header div p{
  font-size: 11px;
  position: relative;
  left: 60px;
  bottom: 38px;
}
nav ul{
  position: relative;
  top: 0px;
  left: 20px;
}
header nav ul li{
  display: inline-block;
    position: relative;
    left: 1100px;
    top: -66px;
}










footer{
  margin-top: -33px;;

}
footer img{
  margin-left: 50%;

}
footer article{
  text-align: center;
  padding: 20px;
  color: lightslategray;
  margin-top: 0px;
  
}
.contianer{
padding: 5%;
}
.imgPizza img{
  width: 100%;
  background-size: cover;
  
}
 .imgSpan {
  float: left;

}




.list{
  background-image: url("https://static7.depositphotos.com/1001004/750/i/950/depositphotos_7505846-stock-photo-vintage-lined-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;


} 
.list form {

padding: 10%;

} 
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 2%;
  padding: 10px;
  border: initial;
}

article{
 
  position:relative;
  margin-top: 5%;
  margin-bottom: 5%;
  color: lightslategray;
}

.rightForm{
  font-family: system-ui;
  position:relative;
  width: 50%;
  display:inline-block;
  padding-left: 15%;
  color: revert;}
.leftForm{
  color: revert;
  font-family: system-ui;
  position:relative;
  width: 50%;
  padding-left: 15%;
  float:right;
  display:inline-block;
  
}
.post{
margin-top: 61px;
height: 148px;
}
.contianer .post h1{
  position: relative;
    left: 100px;
    bottom: 67px;
    font-size: 23px;


}
.post img{
  border-radius: 52%;
    margin-left: 20px;
    margin-top: 12px
}
.post article{
  position: relative;
  bottom: 120px;
  left: 95px;
}

.post article span{
  position: relative;
    left: 800px;
    bottom: 10px

}
.post article span button{
  width: 150px;
    height: 53px;
    background-color: rgb(175, 85, 85);
    color:white;
    border: none;
  
}

.contianer h1{
  font-size: 40px;
  font-family: fantasy;
}
.contianer span{
  color: lightslategray;
    margin-right: -11px;
    font-family: -webkit-pictograph;
    padding: 6px;
    position: relative;
    top: 10px;
    right: 20px;
}
.contianer .imgSpan img{
  position: relative;
  left: 1187px;
  bottom: 4px;
}

hr{
  height: 10px;
  background-color: lightslategray;
}








